:root
{

}

.cta-tile-icon
{
  display: inline-flex;
  flex-wrap: wrap;
  border-top: 2px solid #F1F1F1;
  flex-basis: 277.5px;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
  min-height: 250px;
  background: #FFFFFF;
  box-shadow: var(--theme__styling__box-shadow);
}

.cta-tile-icon,
.cta-tile-icon:hover,
.cta-tile-icon:active,
.cta-tile-icon:visited
{
  text-decoration: none;
}

.cta-tile-icon > img.cta-tile--image
{
  width: auto;
  height: 100%;
  max-height: 48px;
  margin-bottom: 20px;
  object-fit: contain;
}

.cta-tile-icon > h4
{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1rem;
  line-height: 1.5em;
}

.cta-tile-icon .button__wrapper
{
  align-self: flex-end;
  transform: translateX(-20px);
}
