:root
{

}

div.contact-card
{
  display: inline-flex;
  flex-basis: 380px;
  box-sizing: border-box;
  padding: 25px;
  flex-wrap: wrap;
  border-right: 2px solid #DDDCDD;
}

div.contact-card:last-child
{
  border: none;
}

div.contact-card > div.image-wrapper
{
  flex-basis: 78px;
}

div.contact-card > div.image-wrapper > img
{
  width: 100%;
  height: 78px;
  object-fit: scale-down;
  object-position: center;
  border-radius: 50%;
  border: 2px solid #DDDCDD;
}

div.contact-card > span
{
  flex-basis: 170px;
}

h3.contact-card--title
{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 20px;
    margin-bottom: 0;
}

p.contact-card--job
{
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  color: var(--theme__color--gray);
  margin-left: 20px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
