:root
{

}

section.tabs
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(25px + var(--theme__sizes__page--width));
  height: 440px;
  margin-left: auto;
  margin-right: auto;
}

section.tabs > .tabs--images
{
  position: relative;
  flex-basis: 615px;
  overflow: hidden;
}

section.tabs > .tabs--images > img
{
  display: block;
  position: absolute;
  transform: scale(1.05);
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 300ms ease-in-out;
}

section.tabs > .tabs--images > img.is-active
{
  transform: scale(1);
  opacity: 1;
}

section.tabs > .tabs--text
{
  flex-basis: 450px;
}

section.tabs > .tabs--text > span.tabs--text--row
{
  display: block;
  padding: 20px 25px 20px 65px;
  border-left: 6px solid #DDDCDD;
}

section.tabs > .tabs--text > span.tabs--text--row h3
{
    font-size: 1.375rem;
    line-height: 1.2727em;
    font-weight: 700;
    cursor: pointer;
}

section.tabs > .tabs--text > span.tabs--text--row p
{
  opacity: 0;
  transform: translateY(50px);
  transition: all 300ms ease-in-out;
}

section.tabs > .tabs--text > span.tabs--text--row.is-active
{
  border-left: 6px solid #DD1742;
}

section.tabs > .tabs--text > span.tabs--text--row.is-active > h3
{
  color: #DD1742;
}

section.tabs > .tabs--text > span.tabs--text--row.is-active p
{
  opacity: 1;
  transform: translateY(0px);
}
