:root
{

}

section.tabs
{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: calc(25px + var(--theme__sizes__page--width));
  margin: 0 auto;
}

section.tabs > .tabs--images
{
  flex-basis: 615px;
}

section.tabs > .tabs--images > img
{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
