:root
{

}

a.recent-news-card
{
  display: inline-block;
  flex-basis: 278px;
  height: 185px;
  padding: 20px;
  box-shadow: var(--theme__styling__box-shadow);
}

a.recent-news-card .button__wrapper
{
  transform: translateX(-20px);
}
