:root
{

}

a.recent-news-card
{
  display: inline-block;
  flex-basis: 278px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: var(--theme__styling__box-shadow);
  text-decoration: none;
  color: #202020;
}

a.recent-news-card h5
{
  text-indent: 25px;
  position: relative;
  color: #DD1742;
  font-size: 0.6875rem;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.recent-news-card h5::before
{
  content: '';
  display: block;
  position: absolute;
  height: 15px;
  width: 15px;
  background-image: url('../../../../assets/img/news-icon.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

a.recent-news-card div
{
  padding-bottom: 20px;
}

a.recent-news-card p
{
  font-size: .875rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a.recent-news-card .button__wrapper
{
  transform: translateX(-20px);
}
