:root
{

}

.cta-tile-image-icon
{
  flex-basis: 380px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
  box-sizing: border-box;
  box-shadow: var(--theme__styling__box-shadow);
}

.cta-tile-image-icon,
.cta-tile-image-icon:hover,
.cta-tile-image-icon:active,
.cta-tile-image-icon:visited
{
  text-decoration: none;
}

.cta-tile-image-icon > div.cta-tile--image-wrapper
{
  position: relative;
  overflow: hidden;
}

.cta-tile-image-icon img.cta-tile--image
{
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  transition: all 250ms ease-in-out;
}

.cta-tile-image-icon:hover  img.cta-tile--image
{
    transform: scale(1.0675);
}

.cta-tile-image-icon span.cta-tile--icon
{
  display: table;
  height: 80px;
  width: 80px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 133px;
}

.cta-tile-image-icon span.cta-tile--icon > i
{
  display: table-cell;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.cta-tile-image-icon span.cta-tile--icon > i > img
{
  height: 64px;
  width: 64px;
  object-fit: contain;
  object-position: center;
}

.cta-tile-image-icon > span.cta-tile--content
{
  display: block;
  position: relative;
  padding: 30px 20px;
}

.cta-tile-image-icon > span.cta-tile--content::after
{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 80px;
  background-size: 450%;
  transform: rotateY(180deg);
  background-image: url('../../../../assets/img/strokes-gray.svg');
}

.cta-tile-image-icon > span.cta-tile--content h3
{
  font-size: 1.375rem;
  line-height: 2em;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.cta-tile-image-icon .button__wrapper
{
  transform: translateX(-20px);
}
