:root
{

}

.cta-tile-image-icon
{
  flex-basis: 380px;
  height: 260px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: relative;
  box-sizing: border-box;
  box-shadow: var(--theme__styling__box-shadow);
}

.cta-tile-image-icon,
.cta-tile-image-icon:hover,
.cta-tile-image-icon:active,
.cta-tile-image-icon:visited
{
  text-decoration: none;
}

.cta-tile-image-icon > div.cta-tile--image-wrapper
{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.cta-tile-image-icon .cta-tile--image--icon--image
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: opacity(0.15);
  transition: all 250ms ease-in-out;
}

.cta-tile-image-icon .cta-tile--image--icon--image::after
{
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(#20202000, #202020FF);
}

.cta-tile-image-icon:hover  .cta-tile--image--icon--image
{
    transform: scale(1.0675);
}

.cta-tile-image-icon img.cta-tile--icon
{
  display: block;
  height: 80px;
  object-fit: contain;
  object-position: center;
  width: 80px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  bottom: 0px;
}

.cta-tile-image-icon > span.cta-tile--content
{
  display: block;
  width: 100%;
  padding: 20px 100px 20px 20px;
}

.cta-tile-image-icon > span.cta-tile--content::after
{
  content: '';
  display: block;
  position: absolute;
  bottom: 80px;
  right: 0;
  height: 80px;
  width: 80px;
  background-size: 450%;
  transform: rotateY(180deg);
  background-image: url('../../../../assets/img/strokes-white.svg');
}

.cta-tile-image-icon > span.cta-tile--content h3
{
  font-size: 1.375rem;
  line-height: 2em;
  font-weight: 700;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.cta-tile-image-icon .button__wrapper
{
  transform: translateX(-20px);
}
