:root
{

}

section.faq
{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: .5em calc(calc(100% - var(--theme__sizes__textrow--width)) / 2);
}

article.faq-row
{
  display: grid;
  grid-template-row: 1fr 1fr;
  position: relative;
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom: 1px solid #F1F1F1;
  padding: 1em 0;
}

article.faq-row::after
{
  content: '';
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  right: 12px;
  top: 18px;
  background-image: url('../../assets/img/chevron-black.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  transition: transform 350ms ease-in-out;
}

article.faq-row.is-closed::after
{
  transform: rotate(-90deg);
}

article.faq-row:first-child
{
  border-top: 1px solid #F1F1F1;
}

article.faq-row > span
{
  display: block;
}

article.faq-row > span.faq-question > p
{
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5em;
  padding: .5em 0;
}

article.faq-row > span.faq-answer > p
{
  padding: 1em 25px;
  border-left: 2px dotted #F1F1F1;
}


article.faq-row.is-closed > span.faq-answer
{
  display: none;
}

article.faq-row > span > p
{
  margin-block-start: 0px;
  margin-block-end: 0px;
}
