:root
{

}

a.recent-project-card
{
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  flex-basis: 585px;
  justify-content: space-between;
  text-decoration: none;
  color: #202020;
}

a.recent-project-card h5
{
  color: #DD1742;
  font-size: 0.6875rem;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a.recent-project-card::after
{
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(100% - 25px);
  left: 25px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F1F1F1;
}

a.recent-project-card > div.image-wrapper
{
  flex-basis: 278px;
  box-sizing: border-box;
  position: relative;
  height: calc(100% - 25px);
  overflow: hidden;
}

a.recent-project-card > div.image-wrapper > img
{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  transition: all 250ms ease-in-out;
}

a.recent-project-card:hover > div.image-wrapper > img
{
  transform: scale(1.025);
}

a.recent-project-card > span.content
{
  flex-basis: 278px;
  box-sizing: border-box;
  padding: 20px;
}

a.recent-project-card div
{
  padding-bottom: 20px;
}

a.recent-project-card p
{
  font-size: .875rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

a.recent-project-card .button__wrapper
{
  transform: translateX(-20px);
}
