:root
{

}

section.contact-information
{
  width: 100%;
  max-width: calc(50px + var(--theme__sizes__page--width));
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}


section.contact-information::after
{
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -50px;
  right: -50px;
  background: olive;
}
