:root
{

}

section.contact-information
{
  width: 100%;
  max-width: calc(50px + var(--theme__sizes__page--width));
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

section.contact-information.style--opaque::before
{
  content: '';
  display: block;
  position: absolute;
  height: calc(100% + 100px);
  width: calc(100% + 100px);
  top: -75px;
  right: -50px;
  left: -50px;
  bottom: -25px;
  background: #F1F1F1;
  z-index: -1;
}
