:root
{

}

section.slider
{
  width: 100%;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 0 0 calc(calc(calc(100% - var(--theme__sizes__page--width)) / 2) - 15px);
}

section.slider .slick-list,
section.slider .slick-track
{
  max-height: 430px;
}

section.slider .slick-slide
{
  padding: 0 15px;
}

section.slider .slick-slide.slick-active
{
  width: 308px !important;
}

section.slider .slider-slide-background
{
  display: flex !important;
}
