:root
{
  --archive-item--padding: 20px;
}

a.archive--item
{
  position: relative;
  padding: var(--archive-item--padding);
  overflow: hidden;
}

a.archive--item > div.archive--item--image
{
  display: block;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
  transition: all 250ms ease-in-out;
}

a.archive--item:hover > div.archive--item--image
{
  transform: scale(1.1);
}
