:root
{
  --nav__upper__max-height: 64px;
  --nav__lower__max-height: 50px;
  --nav__margin_left: calc(100% * 0.075);
  --nav__margin_right: calc(100% * 0.0375);
}

nav
{
  display: flex;
  width: calc(100% - calc(var(--nav__margin_right) + var(--nav__margin_left)));
  margin-right: var(--nav__margin_right);
  margin-left: var(--nav__margin_left);
  align-items: center;
  align-content: center;
  position: relative;
  box-sizing: border-box;
  height: var(--nav__upper__max-height);
  padding-left: calc(calc( calc(100vw - var(--theme__sizes__page--width)) / 2) - var(--nav__margin_left));
  padding-right: calc(calc( calc(100vw - var(--theme__sizes__page--width)) / 2) - var(--nav__margin_right));
}

.mega-sub-menu::after
{
  content: ' ' !important;
  clear: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: olive;
}

nav.nav--bars--upper
{
  padding-top: 12px;
  padding-bottom: 12px;
}

.home__button
{
  display: block;
}

.home__button img
{
  height: 100%;
  max-height: 22px;
  width: 100%;
  object-fit: scale-down;
  object-position: center left;
}

nav.nav--bars--lower
{
  background-color: #202020;
  justify-content: space-between;
  height: var(--nav__lower__max-height);
}

nav.nav--bars--lower ul,
nav.nav--bars--lower ul li,
nav.nav--bars--lower ul li a
{
  height: 100% !important;
  line-height: var(--nav__lower__max-height) !important;
  max-height: var(--nav__lower__max-height) !important;
}

nav.nav--bars--lower div.search__panel
{
  display: inline-grid;
  height: auto;
  grid-template-columns: 1fr 50px;
  background-color: rgba(255,255,255,.15);
  flex-basis: 300px;
}

nav.nav--bars--lower div.search__panel input
{
  background-color: transparent !important;
  color: white;
  border: none;
  padding: 0.5em 20px;
  font-size: 0.75em;
  line-height: 1em;
  outline: none;
  letter-spacing: 0.92px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px;
}

nav.nav--bars--lower div.search__panel input::placeholder
{
  color: white;
}

nav.nav--bars--lower div.search__panel img
{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}

.search--menu--results
{
  max-height: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(20,20,20,0.875);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  pointer-events: none;
  display: table;
}

.search--menu--results.is--open
{
  max-height: 100vh;
  opacity: 1;
  pointer-events: initial;
}

.search--menu--results > p.search--menu--close--wrapper
{
  display: table;
  position: absolute;
  height: 50px;
  width: 50px;
  right: 50px;
  top: 50px;
}

.search--menu--results > p.search--menu--close--wrapper > span
{
  display: table-cell;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 1.778em;
  cursor: pointer;
}

.search--menu--results > .search--menu--screen
{
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.search--menu--results > .search--menu--screen h3
{
  font-size: 3rem;
  font-weight: 700;
}

.search--menu--results > .search--menu--screen > ul
{
  height: 100%;
  max-height: 80vh;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.search--menu--results > .search--menu--screen > ul > li
{
  text-align: left;
  padding-bottom: 1rem;
  margin-bottom: .75rem;
  border-bottom: 1px dotted #FFF;
}

.search--menu--results > .search--menu--screen > ul > li > a
{
  display: inline-block;
  position: relative;
  font-size: 1.375em;
  color: white;
  letter-spacing: 1px;
}

.search--menu--results > .search--menu--screen > ul > li > a,
.search--menu--results > .search--menu--screen > ul > li > a:hover,
.search--menu--results > .search--menu--screen > ul > li > a:active,
.search--menu--results > .search--menu--screen > ul > li > a:visited
{
  text-decoration: none;
}

.search--menu--results > .search--menu--screen > ul > li > a::after
{
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  border-bottom: 2px solid white;
  transition: all 300ms ease-in-out;
}

.search--menu--results > .search--menu--screen > ul > li:hover > a::after
{
  width: 100%;
}
