:root
{
  --nav__upper__max-height: 64px;
  --nav__lower__max-height: 50px;
  --nav__margin_left: calc(100% * 0.075);
  --nav__margin_right: calc(100% * 0.0375);
}

nav
{
  display: flex;
  width: calc(100% - calc(var(--nav__margin_right) + var(--nav__margin_left)));
  margin-right: var(--nav__margin_right);
  margin-left: var(--nav__margin_left);
  position: relative;
  box-sizing: border-box;
  height: var(--nav__upper__max-height);
  padding-left: calc(calc( calc(100vw - var(--theme__sizes__page--width)) / 2) - var(--nav__margin_left));
  padding-right: calc(calc( calc(100vw - var(--theme__sizes__page--width)) / 2) - var(--nav__margin_right));
}

nav.nav--bars--lower
{
  background-color: #202020;
  justify-content: space-between;
  height: var(--nav__lower__max-height);
}


nav.nav--bars--lower div.search__panel
{
  display: inline-grid;
  height: auto;
  grid-template-columns: 1fr 50px;
  background-color: rgba(255,255,255,.15);
  flex-basis: 300px;
}

nav.nav--bars--lower div.search__panel input
{
  background-color: transparent !important;
  color: white;
  border: none;
  padding: 0.75em;
  outline: none;
  letter-spacing: 0.92px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0px;
}

nav.nav--bars--lower div.search__panel input:placeholder
{
  color: white;
}

nav.nav--bars--lower div.search__panel img
{
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  object-position: center;
}
